[submodule "resources/cmake-modules"]
	path = resources/cmake-modules
	url = https://gitlab.com/ska-telescope/cmake-modules.git
[submodule "resources/googletest"]
	path = resources/googletest
	url = https://github.com/google/googletest.git
[submodule ".make"]
	path = .make
	url = https://gitlab.com/ska-telescope/sdi/ska-cicd-makefile.git
